:root {
    --accent: #2269db;
    --accent-hover: #4382e7;
    --link: #2269db;
    --negative: #cc4343;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body { max-width: 100vw; max-height: 100vh; overflow-x: hidden;}
h1, h2, h3, h4, h5, h6 { border-bottom: none; }
h2 { margin-top: 1.6em; margin-bottom: 0.5em; }

#moin-main-wrapper { display: flex; }
.moin-logo { text-align: start; }
.moin-sitename { display: flex; margin-top: 4pt; margin-bottom: 10pt;
    font-size: 1.4rem; font-weight: 600; white-space: normal; }
#moin-username, #moin-navibar { display: flex; flex-direction: column; row-gap: 6pt; margin-bottom: 8pt; }
#moin-username a, #moin-navibar a { width: 90%; display: block; padding: 4pt; border-radius: 2pt; }
#moin-username a:hover, #moin-navibar a:hover,
#top-bar a:hover, .moin-breadcrumb a:hover { background-color: #d6d6d6bd }
#moin-navibar .wikilink { display: flex; align-items: center; }

#moin-searchform { float: none; display: flex; width: 90%; margin-bottom: 14pt;
    margin-right: 4pt; }
#moin-searchform input.moin-search-query { border: none;
    border-bottom: 1pt solid #242424; border-radius: 0pt; width: 90%; }
#moin-search-submit { min-width: 0pt;
    background: url("../icons/magnifying-glass-solid.svg") center center no-repeat; }

#moin-page { min-width: 0pt; }

header { min-width: 120pt; min-height: 100vh; margin-right: 18pt; padding-top: 8pt;
    padding-left: 8pt; box-shadow: 2pt 0pt 10pt 2pt rgba(0, 0, 0, 0.1); }
header ol, header ul { padding-left: 0pt; }
header li::marker { display: none; }
#moin-searchform input.moin-search-query:focus { background-color: #ecf2fd;
    border-bottom: 1pt solid var(--accent); outline: none; }

#top-bar { overflow-x: scroll; padding: 6pt 0; }
#top-bar ol, #top-bar ul { list-style-type: none; }
#top-bar ul { display: flex; column-gap: 10pt; padding-left: 0pt; }
#top-bar .fa { display: none; }
#top-bar a { padding: 4pt; border-radius: 2pt; }

#top-bar .moin-panel-heading { display: none; }
header a, header a:link, #top-bar a { color: #242424; white-space: nowrap; }
header a:visited, #top-bar a:visited { color: #242424; }

.moin-breadcrumb { margin: 14pt 0; }
.moin-breadcrumb .moin-panel-heading { font-size: 1.1rem; margin-bottom: 4pt; }
.moin-breadcrumb ul { list-style-type: circle; padding-left: 16pt; }
.moin-breadcrumb ul li { margin-bottom: 4pt; }
.moin-breadcrumb a { padding: 4pt; border-radius: 2pt; display: block; width: 90%; }

#moin-footer { display: flex; flex-direction: column; width: unset;
    margin-top: 40pt; margin-bottom: 4pt; padding-right: 10pt; }
#moin-pageinfo, #moin-wiki-license,
#moin-credits, #moin-version, #moin-timings {
    float: none;
    margin: 0pt;
}
#moin-credits-container { display: flex; align-items: end; justify-content: space-between;
    column-gap: 20pt; }

#moin-content { width: 98%; max-width: 1100pt; min-height: 80vh; }

.moin-flash-info { background-color: #e4f2ff; border: 1pt solid #81c3ff;
    border-radius: 2pt; }
.moin-flash-info::before { font-family: FontAwesome; content: "\f05a"; color: #415e79; }
.moin-flash::after { color: #424242; right: 2px; }

.moin-button { background-color: white; border: 2pt solid var(--accent);
    border-radius: 2pt; height: 24pt; width: fit-content; min-width: 60pt;
    padding: 0pt 6pt; margin: .5em 0pt; }
.moin-button:hover { box-shadow: none; }
.moin-button:hover { color: white; background-color: var(--accent-hover);
    border-color: var(--accent-hover); }
.moin-button:hover a { color: white; }
.moin-button.negative { border-color: var(--negative); }
.moin-button.negative:hover { color: white; background-color: var(--negative); }
#moin-save-text-button { color: white; background-color: var(--accent); }
#moin-save-text-button:hover { background-color: var(--accent-hover); }

.moin-form input[type="submit"].moin-modify-submit,
.moin-form .moin-load-draft, .moin-form .moin-cancel {
    float: none;
    clear: none;
    margin: unset;
}
.moin-edit-help { box-sizing: border-box; float: unset; padding: 0pt; }
.moin-edit-help.moin-button { display: block; }
.moin-edit-help a { height: 100%; width: calc(100% - 12pt); display: flex; align-items: center;
    padding: 0pt 6pt; }
.moin-form .submit-buttons { display: flex; column-gap: 8pt; justify-content: end;
    margin: 12pt 0;
}
.moin-form button, .moin-form input[type="submit"] { clear: none; margin: unset; }
.moin-form button, .moin-button, .moin-form input[type="submit"] { display: flex;
    align-items: center; justify-content: center; }

.moin-edit-content { font-family: "JetBrains Mono", monospace; font-variant-ligatures: none;
    margin-top: 6pt; }

#moin-modify input[type="file"] { color: #383838; font-size: 0.9rem; cursor: pointer; }

.moin-form dl { margin-top: 8pt; margin-bottom: 6pt; }

div.hint, div.tip { min-height: unset; margin-top: 0pt; margin-left: 1pt; padding: 0pt;
    border: none; font-size: 0.9rem; color: #383838; }
div.hint::before { font-family: FontAwesome; content: "\f0eb"; padding: 0pt;
    margin-right: 4pt; }
div.tip::before { font-family: FontAwesome; content: "\f0eb"; padding: 0pt;
    margin-right: 4pt; }

div.attention > ol, div.attention > ul, div.attention > p, div.caution > ol,
div.caution > ul, div.caution > p, div.danger > ol, div.danger > ul, div.danger > p,
div.error > ol, div.error > ul, div.error > p, div.hint > ol, div.hint > ul,
div.hint > p, div.important > ol, div.important > ul, div.important > p, div.note > ol,
div.note > ul, div.note > p, div.tip > ol, div.tip > ul, div.tip > p, div.warning > ol,
div.warning > ul, div.warning > p { padding-left: 30pt; }

.moin-tabs { margin-bottom: 20pt; border-bottom: 1pt solid #d9d9d9; }
.moin-tab-titles { border: none; padding-left: 0pt; display: flex; flex-wrap: wrap-reverse;
    row-gap: 4pt; column-gap: 6pt; }
.moin-tab-titles li { padding: 0pt; margin: 0pt; border: none; }
.moin-tab-titles a { border-radius: 0pt; border: none; background-color: white; }
.moin-tabs .moin-tab-titles a { display: flex; text-align: center;
    white-space: nowrap; height: fit-content; padding: 6pt 5pt; color: #242424;
    border-radius: 2pt; }
.moin-tabs .moin-tab-titles a:hover { background-color: #e0e0e0; }
.moin-tab-titles a.moin-current-tab { background-color: #b3b3b3; margin: 0pt; }
.moin-tab-titles a.moin-current-tab:hover { background-color: #b3b3b3; cursor: default; }

#moin-modify br { display: none; }

#moin-usersettings .moin-float-fix { display: flex; justify-content: end; }
#usersettings_ui { width: fit-content; }
#moin-usersettings form { width: fit-content; margin: 0 auto; }
#moin-usersettings dt { float: none; width: unset; padding-right: 0pt; }
#moin-usersettings .moin-form dl { display: grid; width: fit-content;
    grid: auto-flow / max-content max-content; column-gap: 14pt; }
#moin-usersettings .moin-form dd { width: unset; }
#moin-usersettings .moin-form dd input[type="text"],
#moin-usersettings .moin-form dd input[type="password"],
#moin-usersettings .moin-form dd input[type="email"] { box-sizing: border-box;
    width: 100%; }
#moin-usersettings .moin-form dd input[type="checkbox"] { width: fit-content; }
#quicklinks textarea, #subscriptions textarea { box-sizing: border-box; width: 100%; }
#quicklinks div.tip, #subscriptions div.tip { width: unset; }

.moin-tags a, .moin-tags a:visited { display: inline-block; padding: 4pt; color: #242424; border-radius: 2pt;
    min-width: 40pt; }
.moin-tags a:link:hover, .moin-tags a:visited:hover { color: white; background-color: var(--accent-hover) }

@media (min-width: 1000pt) {
    #moin-page { margin: 0pt auto; }
}
